.header {
    font-size: 24px;
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;

}

.header-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    text-transform: lowercase;
    padding-left: 60px;

}


.link {
    text-decoration: none;
    color: #E5E7EB;
    background-color: #1f2937;
    font-size: 18px;

}

.link:hover {
    color: #e5e7eb56;
}

.section-one {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.p1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: -1px;
}

.p2 {
    font-size: 18px;
    color: #E5E7EB;
    text-align: start;
}

.section1-div {
    margin-left: 30px;
    height: 250px;
    width: 500px;
    margin-bottom: 30px;
}

.section1-div2 {
    height: 250px;
    width: 500px;
    margin-bottom: 30px;
    margin-right: 10px;

}

.signup-button1 {
    padding: 5px 20px 5px 20px;
    border-radius: 7px;
    background-color: #3882f6;
    color: #E5E7EB;
    font-size: 15px;
    font-weight: bold;
    border-style: none;
}

.signup-button1:hover {
    background-color: #E5E7EB;
    color: #3882f6;
    cursor: pointer;
}

.section-two {
    margin-top: 60px;
}

.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.image {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    height: 125px;
    width: 190px;
}



.section-three {
    height: 400px;
    margin-top: 160px;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1f2937;


}

.quote {
    font-style: italic;
    font-weight: lighter;
    box-sizing: border-box;
    padding: 75px 600px;
    text-align: start;
}

.autor {
    font-size: 20px;
    margin-left: 70px;
}

.section-four {
    background-color: #3882f6;
    margin: 50px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.p4 {
    padding: 20px 100px;
    text-align: start;
    color: #E5E7EB;
}


.button2 {
    color: #E5E7EB;
    background-color: #3882f6;
    margin: 50px;
    border-radius: 5px;
    border: 2px #E5E7EB solid;
    padding: 5px 20px 5px 20px;
    font-weight: bold;
}

.button2:hover {
    background-color: #E5E7EB;
    color: #3882f6;
    cursor: pointer;

}

.footer {
    background-color: #1f2937;
    color: #E5E7EB;
    text-align: center;
    padding: 15px;

}